<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Animal</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/cliente/{clientId}/animals(clientId=${clientId})}">
        Nome: <input id="name" name="name"/><br/>
        Birth Date: <input id="birthDate" name="birthDate" type="date"/><br/>
        Specie:
        <select name="specieEnum">
            <option th:each="specie : ${specieEnumList}" th:text="${specie}" th:value="${specie}"></option>
        </select>

        <input type="submit" value="Add"/>
        <label th:text="${message}"/>
    </form>
</body>
</html>
