<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Petshop</title>
    <h1 th:text="${sistema}"></h1>
</head>
<body>
    <ui th:each="cli : ${clients}">
        <li>
            Id: <span th:text="${cli.id}"> | </span>
            Name: <a th:text="${cli.name}" th:href="@{/list-animal(clientId=${cli.id})}"> | </a>
            CPF: <span th:text="${cli.cpf}"> | </span>
            <a th:href="@{/delete-client(clientId=${cli.id})}">X</a>
        </li>
    </ui>
    <br>
    <br>
    <a href="/add-client">Adicionar cliente</a>
    <br>
    <br>
</body>
</html>
