<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Animal</title>
</head>
<body>

<ui th:each="ani : ${animals}">
    <li>
        Name: <span th:text="${ani.name}"></span>
         |
        Specie: <span th:text="${ani.specieEnum}"></span>

    </li>

</ui>
<br>
<br>
<a th:href="@{/cliente/{clientId}/add-animal(clientId=${param.clientId})}">Add Animal</a>

</body>
</html>
